.header {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color:white;
    background-color: #000000;
  
    .logo-container {
      height: 100%;
      width: 70px;
      padding: 10px;
      font-weight: bolder;
      font-size: 40px;
      margin-left:80px;
    }

    .logo {
      color:white;
      text-decoration: none;
      width:100px;
      height:100px;
      font-family: 'Muli', sans-serif;
      
    }

    .logo:hover {
      opacity: 0.5;
    }

    a {
      cursor:pointer;
      text-decoration: none;
      color:inherit;
    }
  
    .options {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-right:76px;
      font-size: 12px;
      font-family: 'Muli', sans-serif;
  
      .option {
        padding: 10px 15px;
        cursor:pointer;
        text-decoration: none;
        color:inherit;
        font-family: 'Muli', sans-serif;

        a {
          text-decoration:none;
          color: white;
          font-family: 'Muli', sans-serif;
        }
      }

      .option:hover {
        opacity:0.5;
      }
      
    }
  }